NEXT_PUBLIC_SUPABASE_URL=sb_publishable_eOM6BlWEXaYYuDv-OEER_A_mGK7VX_6
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtrb2xhbnhwdGdkYmVzeWFreHhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NTI3NzYsImV4cCI6MjA5NjUyODc3Nn0.lFYeeNml6wCd6NdIWmyE7pF88GdkrgyD71TRqyb9d-I
